@import "reset.css";
@import "mixins";
@import "../fonts/roboto/roboto.css";

.rob() {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-style: normal;
}

.rob-b() {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: normal;
}

.rob-i() {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-style: italic;
}

.rob-li() {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-style: italic;
}


@black: #000;
@white: #fff;
@grey: #ccc;







